<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	  http://www.springframework.org/schema/beans 
	  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	  http://www.springframework.org/schema/tx 
	  http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	  http://www.springframework.org/schema/aop 
	  http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	"
	>
 
	<bean id="cimIoHandler" class="com.farsunset.cim.sdk.server.handler.CIMIoHandler" >
	   <property name="handlers">
	                   
			<map>
				 
				<entry key="client_bind">
					<bean class="com.farsunset.cim.handler.BindHandler" />
				</entry>
				 
				<entry key="client_cimsession_closed">
					<bean class="com.farsunset.cim.handler.SessionClosedHandler"/>
				</entry>
				<entry key="client_get_offline_message">
					<bean class="com.farsunset.cim.handler.PushOfflineMessageHandler"/>
				</entry>
				 
			</map>
		</property>
	</bean>
  
    
   
	<bean id="CIMNioAcceptor" class="com.farsunset.cim.sdk.server.launcher.CIMNioSocketAcceptor"
		init-method="bind" destroy-method="unbind">
		<property name="port" value="23456" />
		<property name="ioHandler" ref="cimIoHandler" />
	</bean>
	
	<bean id="CIMSessionManager" class="com.farsunset.cim.sdk.server.session.DefaultSessionManager"/>
	  
</beans>