<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
	  http://www.springframework.org/schema/beans 
	  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	">
	
    <bean id="contextHolder" class="com.farsunset.cim.util.ContextHolder"/>

	<bean id="CIMNioAcceptor"
		class="com.farsunset.cim.sdk.server.handler.CIMNioSocketAcceptor"
		init-method="bind" >
		<property name="port" value="23456" />
		<property name="handlers">
			<map>
				<entry key="client_bind">
					<bean class="com.farsunset.cim.handler.BindHandler" />
				</entry>
				<entry key="client_heartbeat">
					<bean class="com.farsunset.cim.sdk.server.handler.HeartbeatHandler" />
				</entry>
				<entry key="client_cimsession_closed">
					<bean class="com.farsunset.cim.handler.SessionClosedHandler" />
				</entry>
			</map>
		</property>
	</bean>


	<bean id="CIMSessionManager" class="com.farsunset.cim.sdk.server.session.DefaultSessionManager" />
	
	<bean id="messagePusher" class="com.farsunset.cim.push.DefaultMessagePusher">
		<property name="sessionManager" ref="CIMSessionManager"/>
	</bean>
	 
	<bean id="systemMessagePusher" class="com.farsunset.cim.push.SystemMessagePusher">
		<property name="sessionManager" ref="CIMSessionManager"/>
	 </bean>
</beans>