<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	  http://www.springframework.org/schema/beans 
	  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	  http://www.springframework.org/schema/tx 
	  http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	  http://www.springframework.org/schema/aop 
	  http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	"
	>
	
 
	<bean id="mainIoHandler" class="com.farsunset.cim.sdk.server.launcher.CIMNioSocketAcceptor" init-method="bind" >
	   <property name="port" value="23456" />
	   <property name="handlers">
			<map>
				<entry key="client_bind">
					<bean class="com.farsunset.cim.handler.BindHandler" />
				</entry>
				<entry key="client_logout">
					<bean class="com.farsunset.cim.handler.LogoutHandler" />
				</entry>
				<entry key="client_cimsession_closed">
					<bean class="com.farsunset.cim.handler.SessionClosedHandler"/>
				</entry>
				 <entry key="client_get_offline_message">
					<bean class="com.farsunset.cim.handler.PushOfflineMessageHandler"/>
				</entry>
				<entry key="client_heartbeat">
					<bean class="com.farsunset.cim.sdk.server.handler.HeartbeatHandler"/>
				</entry>
				<entry key="client_flash_policy">
					<bean class="com.farsunset.cim.sdk.server.handler.FlashPolicyHandler"/>
				</entry>
			</map>
		</property>
	</bean>
 
	
	<!-- 这里可以自行实现com.farsunset.cim.nio.session.SessionManager接口，实现自己的session管理器 -->
	<bean id="CIMSessionManager" class="com.farsunset.cim.sdk.server.session.DefaultSessionManager"/>
</beans>