<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farsunset.ichat.example"
    android:versionCode="2"
    android:versionName="2.0.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="cim"
        android:theme="@style/GlobeTheme" >
        <activity
            android:name=".ui.SplanshActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SystemMessageActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.farsunset.cim.look.notify" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="CIM_RECEIVE_ORDER"
                android:value="100" />
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--推送服务-->  
        <service  android:name="com.farsunset.cim.sdk.android.CIMPushService" android:process=":cimpush"   />
        
        <!--消息接受广播注册-->  
        <receiver android:name="com.farsunset.ichat.example.receiver.CustomCIMMessageReceiver" android:exported="false">  
            <intent-filter android:priority="0x7fffffff">  
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>  <!-- 网络变化广播 -->
                <action android:name="com.farsunset.cim.MESSAGE_RECEIVED"/><!-- 消息广播action -->
                <action android:name="com.farsunset.cim.SENT_FAILED"/> <!-- 发送sendbody失败广播-->
                <action android:name="com.farsunset.cim.SENT_SUCCESSED"/> <!-- 发送sendbody成功广播 -->
                <action android:name="com.farsunset.cim.CONNECTION_RECOVERY"/> <!--重新连接 -->
                <action android:name="com.farsunset.cim.CONNECTION_CLOSED"/> <!-- 链接意外关闭广播 -->
                <action android:name="com.farsunset.cim.CONNECTION_FAILED"/> <!-- 链接失败广播 -->
                <action android:name="com.farsunset.cim.CONNECTION_SUCCESSED"/> <!-- 链接成功广播-->
                <action android:name="com.farsunset.cim.REPLY_RECEIVED"/> <!-- 发送sendbody成功后获得replaybody回应广播 -->
                
                <!-- 【可选】 一些常用的系统广播，增强pushservice的复活机会-->
                <action android:name="android.intent.action.USER_PRESENT" />
	            <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
	            <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>